.menu-button {
  position: fixed;
  top: 3vh;
  left: 3vh;
}

.tap-target {
  background-color: grey;
}

.tap-target {
  width: 300px;
  height: 300px;
}

.background img {
  width: 100%;
}

.sidenav {
  background-color: aliceblue;
}

.social-media-row {
  display: flex;
  justify-content: center;
}

.social-media-row a {
  padding-left: 10px;
  padding-left: 10px;
}

.prime-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 10vh;
}

.prime-content img {
  max-width: 250px;
}

.blockquote {
  border-left: 5px solid #cdcdd2;
}
.blockquote p,
h5 {
  margin-left: 15px;
}

.versicle {
  font-size: 10px;
  height: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
}

.versicle-quote {
  margin-top: 20px;
}
